# LEGO ANALYSIS

In [19]:
import pandas as pd

df = pd.read_csv('data/lego_sets.csv')
theme = pd.read_csv('data/parent_themes.csv')

df.head()

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

## 1. What percentage of all licensed sets ever released were Star Wars themed

In [20]:
theme.head()

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

In [21]:
merged_df = df.merge(theme, left_on="parent_theme", right_on="name")

merged_df.drop(columns="name_y", inplace=True)

merged_df.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town,50,False
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle,186,False
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space,126,False
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space,126,False

In [22]:
merged_df[merged_df["set_num"].isnull()].shape #find out how many set number is null

(153, 8)

In [23]:
licensed = merged_df[merged_df["is_licensed"]] #filter out only licensed data

licensed = licensed.dropna(subset=["set_num"]) #filter all the null value in set_number

licensed.head()

star_wars = licensed[licensed["parent_theme"]=="Star Wars"] #filter out the star wars theme from licensed dataframe

the_force = int(star_wars.shape[0]/licensed.shape[0]*100)

print(the_force)

51

## 2. In which year was Star Wars not the most popular licnesed theme (in term of the number of set release that year

In [36]:
licensed_sorted = licensed.sort_values("year")

licensed_sorted["count"] = 1

summed_df = licensed_sorted.groupby(["year","parent_theme"]).sum().reset_index()

summed_df.drop(columns=["set_num","name_x","theme_name"], inplace=True)

max_df = summed_df.sort_values("count", ascending= False).drop_duplicates(["year"])

max_df.sort_values("year", inplace=True)

max_df

    year  parent_theme  num_parts     id  is_licensed  count
0   1999     Star Wars     1384.0   2054           13     13
2   2000     Star Wars     2580.0   4108           26     26
4   2001     Star Wars     2949.0   2212           14     14
6   2002     Star Wars     4735.0   4424           28     28
9   2003     Star Wars     6660.0   5056           32     32
12  2004     Star Wars     1659.0   3160           20     20
16  2005     Star Wars     4730.0   4424           28     28
20  2006     Star Wars     2769.0   1738           11     11
24  2007     Star Wars    11361.0   2528           16     16
28  2008     Star Wars     6865.0   3634           23     23
32  2009     Star Wars     3953.0   6162           39     39
36  2010     Star Wars     6003.0   4740           30     30
42  2011     Star Wars     3451.0   5056           32     32
47  2012     Star Wars     6769.0   6794           43     43
52  2013     Star Wars     6159.0   5530           35     35
59  2014     Star Wars     8293.0   7110           45     45
67  2015     Star Wars    11410.0   9164           58     58
76  2016     Star Wars     6934.0   9638           61     61
82  2017  Super Heroes    13123.0  34704           72     72

In [37]:
new_era = 2017 #because in 2017 Super Heroes beats star wars